* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: auto;
}

.row {
    width: 100%;
    float: left;
}

.logo {
    width: 125px;
    float: left;
    background: #333;
    padding: 10px;
    color: white
}

.menu {
    width: 1075px;
    float: left;
    text-align: Center;
    background: #262323;
    color: white;
    font-size: 50px;
    margin-top: 30px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262323;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.menu a {
    color: red;
    text-decoration: none;
    padding: 50px;
    margin-right: 20px;
}

.menu a {
    font-size: 18px
}

blockquote {
    font-size: 1em !important;
    margin-left: 40px !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

button {
    background-color: rgb(0 102 125);
    border: 0px;
    padding: 10px;
    color: white;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d4af37;
}

.entire h1 {
    margin: 10px;
}

.entire h3 {
    margin: 10px 10px 10px 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 1200px;
}

.entire li {
    margin: 10px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    z-index: -20;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgb(116, 116, 116);
    color: black;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.entire div{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.entire p{
    margin-left: 30px;
}

.entire h3{
    margin-left: 20px;
    color: #423500;
}

.entire h1{
    color: #423500;
    font-family: "Times New Roman", Georgia, Serif;
}

.entire ul{
    margin-left: 50px;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
